{% extends 'base.html.twig' %}

{% block title %}Country index{% endblock %}

{% block body %}
    <h1>Liste des pays</h1>

    <a class="btn btn-primary"
      style="margin-bottom:20px"
      href="{{ path('country_new') }}">Ajouter un pays</a>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for country in countries %}
            <tr>
                <td>{{ country.id }}</td>
                <td>{{ country.name }}</td>
                <td>
                    <a href="{{ path('country_show', {'id': country.id}) }}">Détails</a>
                    <a href="{{ path('country_edit', {'id': country.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun pays enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
